.sign-in-form {
    max-width: 450px;
    margin: 8% auto;
    padding: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input.ng-pristine + ul#strength {
    display:none;
}
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}
.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
#footer {
    position:fixed;
    bottom:5px;
}
.logo-header {
    max-width:170px;
    width: auto;
}
.required-input:after {
    color: red;
    content:" *";
}

.error-message {
  color: red;
  font-weight: bold;
}

.lock-screen {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.balon1, .balon2 {
	margin-bottom: 30px !important;
}


.balon1 a {

	background: #42a5f5;
	color: #fff !important;
	border-radius: 20px 20px 3px 20px;
	display: block;
	max-width: 75%;
	padding: 7px 13px 7px 13px;
	margin-bottom: 10px !important;

}

.balon1:before {

	content: attr(data-is);
	position: absolute;
	right: 15px;
	bottom: -0.8em;
	display: block;
	font-size: .750rem;
	color: rgba(84, 110, 122,1.0);

}

.balon2 a {

	background: #f1f1f1;
	color: #000 !important;
	border-radius: 20px 20px 20px 3px;
	display: block;
	max-width: 75%;
    padding: 7px 13px 7px 13px;
	margin-bottom: 10px !important;

}

.table-wrapper-scroll-y {
    display: block;
    max-height: 260px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.card-plan-selected {
    border-bottom: 6px solid red;
    background-color: lightgrey;
    /*border-style: solid;
    border-width: 2px 10px 4px 20px;*/
}

.ribbon-box .ribbon-two span {
    font-size: 13px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    transform:
    rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    position: absolute;
    top: 19px;
    left: -21px;
    font-weight: 600;
}


.ribbon-box .ribbon-two-danger span {
    background: #f1556c;
}

.hover-sidebar-left-logo:hover > .mini-logo {
  opacity: 0;
}

.hide-mini-logo {
  opacity: 0;
}

.padding-mini-logo {
  margin-top: -10px;
}

.paddin-logo {
  margin-top: -20px;
}

.hide-div-field {
  opacity: 0;
  display: none;
}

.padding-last-contact {
  height: 220px;
}

.card-shadow:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  cursor: pointer;
}

.img_loading_center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px; /* Half the height */
    margin-left: -250px; /* Half the width */
}

.input-custom {
  display: block;
  cursor: text;
  width: 100%;
  font-weight: 300;
  font-family: Poppins,sans-serif;
  font-size: 1.375rem;
  line-height: 1.2;
  color: #4d5a68;
  background-color: #fff;
  border: 0px;
}