<header class="page-header" style="margin-top: -35px;">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h1>{{page_title}}</h1>
        </div>
    </div>
</header>